<section>
 <h1>Sobre nosotros</h1>
  <p>Los autores del libro y también tutores del curso son <a href='http://psicobyte.github.io'>Pablo</a> y <a href='http://jj.github.io'>JJ</a>. La <a href='http://cevug.ugr.es/git'>última  edición del curso</a> ha sido en abril de 2014 y el libro lo puedes comprar en <a href='https://www.amazon.es/dp/B00K515GL2?tag=atalaya-21&camp=3634&creative=24822&linkCode=as4&creativeASIN=B00K515GL2&adid=05Y09PE1MZYADE8ZNJED&'>Amazon</a>  o en <a href='http://www.bubok.es/libros/233274/Aprende-git'>Bubok en PDF o impreso</a>.</p>


</section>
